.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
!node_modules/node-pty/**
!node_modules/node-pty/build/Release/*.node
!node_modules/@xterm/**
**/*.ts
!**/*.d.ts
**/*.map
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/*.md
!README.md
**/test/**
**/tests/**
**/.git/**
.gitignore
.yarnrc
vsc-extension-quickstart.md